[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
pytest = "*"
pytest-dotenv = "*"

[dev-packages]
pre-commit = "*"
types-requests = "*"

[requires]
python_version = "3.11"
